.s-la-banner .col-md-12 { display: none; text-align: center; } 
#s-la-banner-img { max-width: 33%; padding: 20px; display: none; }

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}



body {
  background-color: #e9e9e9;
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
 font-weight: 400;
}

#s-la-page-column-1 a, #s-la-page-column-1 a:active, #s-la-page-column-1 a:visited {
  color: #642a90;
  font-weight: bold;
  border-bottom: 1px solid rgba(100,42,144, 0.25);
    padding-bottom: 2px;
    text-decoration: none;
}

#s-la-page-column-1 a:focus, #s-la-page-column-1 a:hover {
    border-bottom: 3px solid #eeb211;
    text-decoration: none;
    color:#642a90;
    font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
.s-la-searchform-button {
    font-family: "Oswald", system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 400;
}


#s-la-page-28426 #s-la-headerlinks {
   display: none;
}

#ual-header + div {
   margin-top: unset!important;
}

#s-la-headerlinks {
   margin-bottom: 5px;
  background-color: transparent;
}

#s-la-bc .s-la-color-bars {
  background-image: none;
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

#s-la-bc a {
   color: #642a90;
   font-size: 0.9em;
}

.s-la-page-home #s-la-bc {
   display: none;
}


#s-la-header-public,
#s-la-public-header {
    background: rgb(49,33,80);
    background: linear-gradient(142deg, rgba(49,33,80,1) 0%, rgba(124,49,174,1) 53%, rgba(176,100,227,1) 90%);
       color: #ffffff;
   background-position: 0 0;
   background-size: contain;
  background-repeat: no-repeat;
   padding: 2em;
   border-radius: 0.5em;
margin-left: 0px;
  margin-right: 0px;
   margin-bottom: 1em;
}

#s-la-header-public {
   border-radius: 5px 5px 5px 5px;
   padding-bottom: 25px;
}

#s-la-public-header .col-md-12 {
   padding-left:0px;
  padding-right: 0px;
}

#s-la-page-title-bar {
    background: rgb(176,100,227);
    background: linear-gradient(53deg, rgba(176,100,227,1) 1%, rgba(124,49,174,1) 24%, rgba(49,33,80,1) 63%, rgba(62,36,96,1) 100%, rgba(124,49,174,1) 100%);
      color: #ffffff;
   padding: 1em;
   border-radius: 0.5em;
  margin-top: -1px;
}

#s-la-page-title-bar .s-la-color-bars {
     border-color: #642a90;
}

#s-la-public-header .s-la-public-header-2 {
   margin: 0px 0px 10px 0px;
}

.s-la-public-header-text {
   margin-bottom: 0px;
}

h1#s-la-public-header-title {
   font-size: 3.815rem;
   font-weight: 300;
   text-align: left;
   color: #eeb211;
   margin: 0 0.25em 0.25em 0.25em;
}

#s-la-header-public .s-la-public-header-0 .s-la-public-header-title,
.s-la-page-home h1#s-la-public-header-title {
   font-family: Oswald;
   font-size: 3.052rem;
   font-weight: 400;
  text-align: left;
   margin: 0 0.25em 0.25em 0.25em;
   color: #eeb211;
   border-bottom: 3px solid #eeb211;
   padding-bottom: 1rem;
}
.s-la-public-header-description {
  font-family: Oswald;
  text-align: left;
  margin-left: 0.75rem;
  font-size:1.25rem;
  letter-spacing: 0.01rem;
}

.s-la-public-header-2 .s-la-navbar {
     margin-top: 50px;
     margin-bottom: 25px;
}

.s-la-color-bars .navbar-header {
   display: none;
}

.navbar.s-la-color-bars {
    background-image: unset;
    background-color: transparent;
    border-width: 0;
}

.navbar {
border: 0px solid transparent;
}
.navbar-default .navbar-collapse {
    padding: 10px 0px;
   background-color: transparent;
}

#s-la-header-public a,
#s-la-public-header a {
    color: #ffffff;
   font-weight: 700;
}
#s-la-header-public .dropdown-menu a {
    color: #642a90;
    font-weight: 400;
}

.btn-primary {
    background: #efb310; 
    border-color: #efb310;
    color: #666666;
}

.btn-primary:hover {
      background: #efb310; 
    border-color: #efb310;
}

.form-control:focus {
    border-color: #efb310;
}

.s-la-box {
   background: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.03) 0px 1px 0px 0px, rgba(0, 0, 0, 0.07) 0px 5px 5px -3px
}

.s-la-box-position-1 {
   margin-left: 0px;
 padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
}

.navbar-form .s-la-content-search-query {
   padding-top: 10px;
   padding-bottom: 10px;
  height: auto;
}

.s-la-searchform-button { 
    background-color: #eeb211;
    background-image: linear-gradient(to bottom,#eeb211 50%,#eeb211 80%);
    border-color: #eeb211;
   color:#46166B; 
   padding: 10px 20px;
   text-transform: uppercase;
  transition: all .5s;
}

.s-la-searchform-button:hover {
    background-color: #eeb211;
    background-image: linear-gradient(to bottom,#eeb211 50%,#eeb211 80%);
    border-color: #eeb211;
}
.s-la-public-header-0 .s-la-content-search {
    margin-left: 50px;
}

#s-la-page-column-2 div:first-of-type .s-la-box {
    background-color: #eeb211;

}

@media (min-width: 769px) {
   .navbar-nav {
     float: right;
margin-top: 15px;
   }

   .navbar-form .s-la-content-search-query {
     width: 450px;
   }

}


/* content */

.nav-tabs {
   margin-left: 10px;
}

.s-la-faq-listing, .s-srch-result {
   padding: 15px;
   font-size: 13px;
}

.s-la-faq-listing-q, .s-srch-result-title {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.s-la-faq-listing-meta .metalabel, .s-srch-result-meta .metalabel {
  font-weight: 300;
}

.s-la-faq-listing-meta {
   color: #666666;
}

.s-la-faq-listing-meta .label-topic, .s-la-faq-topics .label-topic, .s-srch-result .label-default {
   background: #fbf5e6;
}

#s-la-page-column-1  .label a {
   border-bottom: 0px; 
}

#s-la-page-column-1  .label:hover {
   background-color:#eeb211;
}

#s-la-contact-slideout header a {
   padding: 25px;
}

.s-la-content-iconitem {
   margin-left: 10px;
}
.s-la-box-title h2 {
    font-size: 1.25rem;
}

.s-la-box-title-simple.s-la-box-border-simple {
   background: #e9e9e9;
   border-bottom: 0px;
}
 
.s-la-box-type-4 .s-la-box-title.s-la-box-title-simple h2 {
   font-size: 2em;
   font-weight: 300;
    color: #46166B;
}

.s-la-faq-answer-header {
   padding: 1em 1em;
   background-color:#eeb211;
   margin-left: -1em;
   margin-right: -1em;
   margin-bottom: 0.5em;
   margin-top: -1em;

}

@media screen and (min-width:769px) {


   .s-la-box-type-4 .s-la-box-title.s-la-box-title-simple h2 {
      font-size: 3em;
      margin-top: 0;
      margin-bottom: 0;
   }
   .s-la-box-type-4 .s-la-box-title.s-la-box-title-simple h2:first-letter {
      font-size: 6rem;
      font-weight: 700;
      color: #eeb211;
      text-shadow: -3px 3px #46166B;
      margin-left: -1em;
   }

   .s-la-box-border-simple.s-la-box-type-4 .s-la-box-content {
      padding: 2em;
   }

   .s-la-faq-answer-header {
      padding: 1em 1.5em;
      border-left: 6px solid #efb310;
      background-color:transparent;
      margin-left: -1.75em;
      margin-bottom: 0.5em;
      margin-top: -0.5em;

   }
}


.s-la-faq-answer li {
    margin-bottom: 5px;
}


/* unset all of the ckeditor inline garbage */
.s-la-faq-answer-body span {
   font-size: 1em!important;
   font-family: system,-apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif!important;
   line-height: 1.75em!important;
}


.s-la-box-borderless .s-la-box-content {
  padding: 20px;
}
