/* Print stylesheet for answers */

/* first we'll hide a lot of stuff */
body { background: #ffffff !important; font-size: 12px; }

#s-la-public-banner-custom, #s-la-public-banner, #s-la-bc, #s-la-public-header-search, #s-la-page-title-bar, #s-la-public-footer-custom, #s-la-public-footer, .s-la-box-container, iframe, .navbar, .s-la-faq-media, #s-la-public-skiplink { display: none; }

.s-la-box-container.s-la-box-type-4 { display: block; }
.s-la-row .s-la-page-column, .s-la-box-container, .s-la-box-title, .container { background-color: #fff; background-image: none; width: auto !important; border: none; }

/* show the url after links */
a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
}


h2, h3, h4, h5, h6 { font-size: 13px !important; font-weight: bold; }